<mat-expansion-panel (opened)="setStep(0)" hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title class="flex-basis-0 min-w-0">
      <div class="truncate">
        Personal data Personal data Personal data Personal data Personal data
      </div>
    </mat-panel-title>
    <mat-panel-description class="flex-basis-0 min-w-0">
      <p class="truncate">
        Type your name and age Type your name and age Type your name and age Type your name and age Type your name and
        age
      </p>
      <mat-chip-list>
        <mat-chip>category</mat-chip>
      </mat-chip-list>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <div class="flex">
    <div class="w-1/3 mr-4">Title Content</div>
    <p class="w-2/3 mr-4">data Personal data Personal data
      Type your name and age Type your name and age Type your name and age Type your name and age Type your name and
      age
    </p>
  </div>
</mat-expansion-panel>

<mat-expansion-panel (opened)="setStep(1)" hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title class="flex-basis-0">
      Destination
    </mat-panel-title>
    <mat-panel-description class="flex-basis-0">
      Type the country name
    </mat-panel-description>
  </mat-expansion-panel-header>
</mat-expansion-panel>

<mat-expansion-panel (opened)="setStep(2)" hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title class="flex-basis-0">
      Day of the trip
    </mat-panel-title>
    <mat-panel-description class="flex-basis-0">
      Inform the date you wish to travel
    </mat-panel-description>
  </mat-expansion-panel-header>
</mat-expansion-panel>
