<div>
  <h2>A main layout is wrapping this page</h2>
  <nav>
    <h2 class="text-lg font-bold">Navigation</h2>
    <ul class="list-disc list-inside">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/datatable">Ngx Datatable</a></li>
      <li><a routerLink="/form-handling">Form Adding</a></li>
      <li><a routerLink="/form-handling/1">Form Updating</a></li>
      <li><a routerLink="/form-handling/2">Form Updating</a></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
