<div class="w-full flex justify-center mt-4">
  <div class="w-1/2">
    <form [formGroup]="addInforForm" (submit)="onSubmit()">
      <mat-card>
        <mat-card-title>Information</mat-card-title>
        <mat-card-content>
          <ng-container formGroupName="languageData">
            <ng-container *ngFor="let lang of languages; let i = index">
              <div [formGroupName]="languages[i]" class="mb-8">
                <mat-form-field appearance="outline" class="w-full">
                  <mat-label>Title</mat-label>
                  <input formControlName="title" required matInput placeholder="Title">
                  <mat-icon matSuffix>title</mat-icon>
                  <mat-error *ngIf="getRequiredError('title', lang)">
                    Title is required
                  </mat-error>
                  <mat-error *ngIf="getMinLengthError('title', lang)">
                    Title must have at least 4 characters
                  </mat-error>
                  <mat-error *ngIf="getBadWordError('title', lang)">
                    Must not contain 'fucks'
                  </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-full">
                  <mat-label>Content</mat-label>
                  <textarea formControlName="content" required matInput placeholder="Content" rows="6">
                  </textarea>
                  <mat-error *ngIf="getRequiredError('content', lang)">
                    Content is required
                  </mat-error>
                </mat-form-field>
              </div>
            </ng-container>
          </ng-container>
        </mat-card-content>
        <div class="text-right">
          <button [disabled]="addInforForm.invalid" mat-flat-button color="primary">Save</button>
          <a routerLink="/" mat-button color="warn">Cancel</a>
        </div>
      </mat-card>
    </form>
  </div>
</div>
